
:root{
    --title-color: #212121;
    --primary-title-color: #fff;
    --accent-color: #2196F3;
    --text-color: #757575;
    --btn-color: #F5F4FA;
    --svg-color: #AFB1B8;

}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
header{
    border-bottom: 1px solid #ECECEC;
}
ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

#current-page{
    color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
.section{
    padding: 94px 0;
}
/* <!--HEADER--> */

.logo{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    color: #2196F3;
    margin-right: 93px;
}

.logo-span-header{
    color: #000;
}

.header-container{
    display: flex;
    align-items: center;
}

.header-navigation{
    display: flex;
    align-items: center;
}

.header-list{
    display: flex;
    align-items: center;
}

.header-list-item:not(:last-child){
    margin-right: 52px;
}


.header-link{
    display: block;
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    padding: 32px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    top: 77px;
}

.header-link:hover,
.header-link:focus{
    color: var(--accent-color);
}

.header-contacts-list {
    display: flex;
    margin-left: auto;
    
}

.header-contacts{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-list-item:not(:last-child){
    margin-right: 50px;
}

.header-contacts:hover,
.header-contacts:focus{
    color: var(--accent-color);
}

.header-envelope{
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: var(--text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel{
    margin-right: 10px;
    width: 10px;
    height: 16px;
    fill: var(--text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts:hover .header-envelope,
.header-contacts:focus .header-envelope{
    fill: var(--accent-color);
}

.header-contacts:hover .header-tel,
.header-contacts:focus .header-tel{
    fill: var(--accent-color);
}

/* <!--HERO MAIN--> */

.hero{
    background-image: linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.title{
    color: var(--primary-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.btn{
    color: var(--primary-title-color);
    background-color: var(--accent-color);
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
}

/* <!--MAIN LIST--> */

.main-list{
    display: flex; 
}

.main-list-item:not(:last-child){
    margin-right: 30px;
}

.main-list-item{
    flex-basis: calc((100% - 90px) /4 );
}

.svg-container{
    width: 270px;
    height: 120px;
    background-color: var(--btn-color);
    margin-bottom: 40px;
    border-radius: 4px;
    display: flex;  
    justify-content: center;
    align-items: center;  
}

.main-svg{
    width: 70px;
    height: 70px;

}

.main-list-title{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
}

.main-list-paragraph{
    font-size: 14px;
    line-height: calc(24/14);
    color: var(--text-color);
}

/* <!--OUR TASK--> */

.our-task-title{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    margin-bottom: 50px;
}

.our-task-list{
    display: flex;
}

.our-task-list-item:not(:last-child){
    margin-right: 30px;
}

.our-task-container{
    position: relative; 
}

.our-task-img-title{
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: var(--primary-title-color);
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
    
}

.task-section{
    padding-top: 0;
}

/* <!--OUR TEAM--> */

.our-team-section{
    background-color:  #F5F4FA;
}

.our-team-title{
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    margin-bottom: 50px;
}

.our-team-list{
    display: flex;
}

.our-team-list-item:not(:last-child){
    margin-right: 30px;
}

.our-team-list-item{
    flex-basis: calc((100% - 90px) / 4);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);   
}

.our-team-padding{
    padding-bottom: 30px;
    padding-top: 30px;

    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    
}

.our-team-list-item-img{
    width: 100%;
}

.our-team-list-item-title{
    color: var(--title-color);
    font-weight: 500;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    margin-bottom: 10px;
    text-align: center;
}

.our-team-list-item-par{
    font-size: 16px;
    line-height: calc(19/16);
    color: var(--text-color);
    text-align: center;
}

.social-list{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.social-list-item{
    width: 44px;
    height: 44px;
}

.social-list-item + .social-list-item{
    margin-left: 10px;
}


.social-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus{
    background-color: var(--accent-color);
}

.social-icon{
    height: 20px;
    width: 20px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon, 
.social-link:focus .social-icon{
    fill: #fff;
}

.regular-clients-title{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    color: var(--title-color);
    margin-bottom: 50px;
}

.regular-clients-list{
    display: flex;
}

.regular-clients-list-item{
    width: 170px;
    height: 92px;
}
.regular-clients-list-item + .regular-clients-list-item{
    margin-left: 30px;
}
.regular-clients-link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon{
    width: 106px;
    height: 60px;
    fill: var(--svg-color) ;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients-link:hover .client-icon,
.regular-clients-link:focus .client-icon{
    fill: var(--accent-color);
    
}

.regular-clients-link:hover .regular-clients-link,
.regular-clients-link:focus .regular-clients-link{
    border-color: var(--accent-color);
    
}

/* <!--PORTFOLIO BUTTONS--> */

.portfolio-main-list{  
    display: flex;
    margin-bottom: 56px;
    justify-content: center;
}

.portfolio-main-list-item:not(:last-child){
    margin-right: 8px;
}

.portfolio-btn{
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: calc(26/16);
    background-color: var(--btn-color);
    color: var(--title-color);
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus{
    color: var(--primary-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* <!--PORTFOLIO CARDS--> */

.portfolio-main-images-list{
    display: flex;
    flex-wrap: wrap;
}

.main-images-list-link{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-images-wrapper{
    position: relative;
    overflow: hidden;
}

.portfolio-main-images-list-item:not(:nth-child(3n)){
    margin-right: 30px;
}
.main-images-list-link:hover,
.main-images-list-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
}

.portfolio-main-images-list-item{
    flex-basis: calc((100% - 60px) / 3);
    margin-bottom: 30px;  
}

.portfolio-main-images-list-item:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.portfolio-main-images-padding{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
   
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.main-img{
    width: 100%;
}

.main-images-text{
    font-size: 18px;
    line-height: calc(28/18);
    color: #fff;
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px; 
    position: absolute;
    top: 0;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-images-list-link:hover .main-images-text,
.main-images-list-link:focus .main-images-text{
    transform: translateY(0);
}

.portfolio-main-title{
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin-bottom: 4px;   
}

.portfolio-main-paragraph{
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--text-color);
}

/* <!--FOOTER--> */

footer{
    background-color: #2F303A;
    padding: 60px 0;
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.address{
    margin-right: 70px;
}

.logo-span-footer{
    color: #fff;
    
}

.logo-footer{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    color: #2196F3;
}

.footer-address{
    margin-top: 20px;
}

.footer-list-item{
    font-style: normal;
}

.footer-list-item:not(:last-child){
    margin-bottom: 9px;
}

.footer-address{
    color: var(--primary-title-color);
    font-size: 14px;
    line-height: 24px;
}

.footer-contacts{
    font-size: 14px;
    line-height: calc(24/14);
    color: rgba(255, 255, 255, 0.6);
}

.join-title{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: calc(16/14);
    color: var(--primary-title-color);
    margin-bottom: 20px;
}

.join-list{
    display: flex;
    justify-content: center;
}

.join-list-item{
    width: 44px;
    height: 44px;
}

.join-list-item + .join-list-item{
    margin-left: 10px;
}

.join-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-svg{
    width: 20px;
    height: 20px;
    fill: #fff;
}

.join-link:hover,
.join-link:focus {
    background-color: var(--accent-color);
}

.mailing-footer{
    width: 570px;
    height: 86px;
    margin-left: 93px;
    display: flex;
}

.folow-mailing{
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-input{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
    padding-left: 16px;
    color: #ffffff;
}

.footer-input:focus{
    outline: none;
}

.footer-mailing-btn{
   width: 200px;
   height: 50px;
   position: relative; 
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 12px;
}

.mailing-icon{
    width: 24px;
    height: 24px;
    fill: #ffffff;
    margin-left: 10px;
}

.mailing-right{
    align-self: flex-end;
}

/* <!--MODAL WINDOW-> */

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
}

.backdrop{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.modal{
    width: 528px;
    min-height: 581px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 40px;
}

.close-btn{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus{
    fill: var(--accent-color);
}

/* <!--MODAL ICON--> */

.modal-icon{
    width: 11px;
    height: 11px;
}

.modal-title{
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    color: var(--title-color);
    font-weight: 700; 
    margin-bottom: 12px;
}

.modal-field{
    display: flex;
    flex-direction: column;
}

.input-label{
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
    cursor: pointer;
}

.modal-input{
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-input:focus{
    border: 1px solid #2196F3;
}

.input-icon{
    position: absolute;
    left: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon{
    fill: var(--accent-color);
}

.input-wrapper{
    display: flex;
    align-items: center;
    position: relative;
}

.modal-field{
    margin-bottom: 10px;
}

.modal-text-input{
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    width: 100%;
    height: 120px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 10px;
}  

.modal-text-input:focus{
    border: 1px solid #2196F3;
    outline: none;
}

.check-text{
    display: flex;
    font-size: 14px;
    line-height: calc(24/14);
    color: #757575;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: relative;
}

.condition-link{
    color: var(--accent-color);
    text-decoration: underline;
    display: block; 
}

.check-icon{
    fill: #ffffff;
}

.check-text span{
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-checkbox:checked + .check-text span {
    background-color: var(--accent-color);
    border: none;
}

.modal-btn{
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}