.features{
    @media screen and (min-width: 768px){
        display: flex; 
        flex-wrap: wrap;
    }
    
}

.features__item{
    width: 100%;
    &:not(:last-child){
            margin-bottom: 30px;
        }
        
    @media screen and (min-width: 768px){
        flex-basis: calc((100% - 30px) / 2);
        &:nth-child(odd){
                margin-right: 30px;
            }
            &:nth-last-child(-n + 2){
                margin-bottom: 0;
            }
    }

    @media screen and (min-width: 1600px){
        flex-basis: calc((100% - 90px) / 4);
        &:not(:last-child){
            margin-right: 30px;
            margin-bottom: 0;
        }
        
    }
}

.features__svg-container{
    width: 100%;
    height: 120px;
    background-color: var(--btn-color);
    margin-bottom: 30px;
    border-radius: 4px;
    @include align-item();
    justify-content: center; 
}

.features__icon{
    width: 70px;
    height: 70px;
}

.features__title{
    @include fonts(14px, 16px, 700);
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: 768px){
        text-align: start;
    }
}

.features__text{
    @include fonts(14px, 24px);
    color: var(--text-color);
}