.footer{
    background-color: #2F303A;
    padding: 60px 0;
}

.container--row-position{
    display: flex;
    align-items: baseline;
}

.address-container{
    flex-grow: 1;
    margin-right: 70px;
}

.address{
    margin-top: 20px;
}

.footer__logo__span{
    color: #fff;
}

.footer__logo{
    font-family: "Raleway";
    @include fonts(26px, 31px, 700);
    color: #2196F3;
}

.address__item{
    font-style: normal;
    &:not(:last-child){
        margin-bottom: 9px;
    }    
}

.address__link{
    color: var(--primary-title-color);
    @include fonts(14px, 24px);
}

.address__contacts-link{
    color: rgba(255, 255, 255, 0.6);
}

.join__title{
    @include fonts(14px, 16px, 700);
    text-transform: uppercase;
    color: var(--primary-title-color);
    margin-bottom: 20px;
}

.join{
    display: flex;
    justify-content: center;
}

.join__item{
    @extend %social-item;
}

.join__link{
    @extend %social-link;
    background-color:  rgba(255, 255, 255, 0.1);
}

.join__icon{
    width: 20px;
    height: 20px;
    fill: #fff;
}

.mailing-container{
    width: 570px;
    height: 86px;
    margin-left: 93px;  
}

.mailing-form__title{
    @include fonts(14px, 16px, 700);
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.mailing-form__input{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
    padding-left: 16px;
    color: #ffffff;
    &:focus{
        outline: none;
    }
}

.mailing-form__btn{
   width: 200px;
   height: 50px;
   position: relative; 
   @include align-item();
   justify-content: center;
   margin-left: 12px;
   float: right;
}

.mailing-form__icon{
    width: 24px;
    height: 24px;
    fill: #ffffff;
    margin-left: 10px;
}