.header{
    border-bottom: 1px solid #ECECEC;
}

.logo{
    font-family: "Raleway";
    @include fonts(26px, 31px, 700);
    color: #2196F3;
    margin-right: 93px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.logo__span{
    color: #000;
}

.header__container{
    @include align-item();
}

.navigation{
    @include align-item();
}

.site-nav{
    @include align-item();
}

.site-nav__item{
    &:not(:last-child){
        margin-right: 52px;
    }
}

.site-nav__link{
    display: block;
    color: var(--title-color);
    @include fonts(14px, 16px, 500, 0.02em);
    padding: 32px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        color: var(--accent-color);
    }
}

.site-nav__link--current{
    color: var(--accent-color);
    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
        top: 77px;
    }
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts__link{
    @include align-item();
    color: var(--text-color);
    @include fonts(14px, 16px, $fw:400, $ls:0.02em);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--accent-color);
    }

    &:hover .contacts__icon,
    &:focus .contacts__icon{
        fill: var(--accent-color);
    }
}

.contacts-item{
    &:not(:last-child){
        margin-right: 50px;
    }
}

.contacts__icon{
    margin-right: 10px;
    fill: var(--text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


