.hero{
    
    background-image: linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-mob.jpg);
    @media screen and (min-width: 768px){
        background-image: linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-tablet.jpg);
    }
    @media screen and (min-width: 1600px){
        background-image: linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero.jpg);
        }
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.hero .hero-container--padding{
    padding: 118px 0;
    @media screen and (min-width: 768px){
        padding: 118px 0;
    }
    @media screen and (min-width: 1600px){
        padding: 200px 0;
    }
}

.hero__title{
    @include fonts(26px, 42px, 900, 0.06em);
    color: var(--primary-title-color);
    text-transform: uppercase;
    margin-bottom: 30px;
    @media screen and (min-width: 1600px){
        @include fonts(44px, 60px, 900, 0.06em);
    }
}


