
.pros-container__list{
    display: flex; 
}

.pros-container__item{
    flex-basis: calc((100% - 90px) /4 );

    &:not(:last-child){
        margin-right: 30px;
    }
}

.pros-container__item__svg-container{
    width: 270px;
    height: 120px;
    background-color: var(--btn-color);
    margin-bottom: 40px;
    border-radius: 4px;
    @include align-item();
    justify-content: center; 
}

.pros-container__item__svg{
    width: 70px;
    height: 70px;
}

.pros-container__item__title{
    @include fonts(14px, 16px, 700);
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
}

.pros-container__item__paragraph{
    @include fonts(14px, 24px);
    color: var(--text-color);
}