.section--other-background{
    background-color:  #F5F4FA;
}

.our-team{
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
    }
     
}

.our-team__item{
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);   
    &:not(:last-child){
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px){
        flex-basis: calc((100% - 30px) / 2);
        &:nth-child(odd){
                margin-right: 30px;
            }
            &:nth-last-child(-n + 2){
                margin-bottom: 0;
            }
            
    }

    @media screen and (min-width: 1600px){
        flex-basis: calc((100% - 90px) / 4);
        
        &:not(:last-child){
            margin-right: 30px;
            margin-bottom: 0;
        }
        
    }
}

.our-team__padding{
    padding-top: 30px;   
    padding-bottom: 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.our-team__img{
    width: 100%;
}

.our-team__title{
    color: var(--title-color);
    @include fonts(16px, 19px, 500);
    margin-bottom: 10px;
    text-align: center;
}

.our-team__text{
    @include fonts(16px, 19px);
    color: var(--text-color);
    text-align: center;
}