.menu-open-btn{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    @include align-item();
    justify-content: center;
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
    @media screen and (min-width: 767px) {
        display: none;
    }
}


.menu-open-btn__icon{
    width: 24px;
    height: 16px;
}

.mob-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff; 
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding: 10px 15px 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.close-button{
    width: 40px;
    height: 40px;
    @include align-item();
    justify-content: center;
    background-color: transparent;
    padding: 0;
    top: 10px;
    right: 15px;
    border: none;
    cursor: pointer;
    
    position: absolute;

}

.close-button__icon{
    width: 18.67px;   
    height: 18.67px;
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .close-button:hover &,
    .close-button:focus &{
        fill: var(--accent-color);
    }
}

.mob-nav{
    padding-top: 38px;
}

.mob-nav__item + .mob-nav__item{
    margin-top: 32px;
}

.mob-nav__link{
    display: block;
    color: var(--title-color);
    @include fonts(40px, 47px, 500, 0.02em);    
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &--current,
    &--current{
        color: var(--accent-color);
    }

}


.menu-contacts__phone{
    @include fonts(34px, 40px, 500, 0.02em); 
    color: var(--accent-color);
    margin-bottom: 32px;
}

.menu-contacts__mail{
    @include fonts(24px, 28px, 500, 0.02em); 
    color: var(--text-color);
}

.mob-social{
    display: flex;
    margin-top: 64px;
    @media screen and (max-width: 419px) {
        flex-wrap: wrap;
    }
}

.mob-social__link{
    @include fonts(18px, 22px, 500, 0.02em); 
    color: var(--accent-color);
}

.mob-social__item--after::after{
    content: '';
    margin: 0 10px;
    width: 0px;
    height: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
}