.backdrop{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    @include align-item();
    justify-content: center;
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
    &.is-hidden{
        opacity: 0;
        visibility: hidden;
        pointer-events: 0;
    }
}

.modal{
    width: 528px;
    min-height: 581px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 40px;
}

.modal__close-btn{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    @include align-item();
    justify-content: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    fill: var(--accent-color);
}
}

.modal__icon{
    width: 11px;
    height: 11px;
}

.modal__title{
    @include fonts(20px, 23px, 700);
    text-align: center;
    color: var(--title-color);
    margin-bottom: 12px;
}

.modal__field{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal__input-label{
    @include fonts(12px, 14px, 400, 0.01em);
    color: #757575;
    margin-bottom: 4px;
    cursor: pointer;
}

.modal__input{
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:focus{
        border: 1px solid #2196F3;
    }
    &:focus + .modal__input-icon{
        fill: var(--accent-color);
    }
}

.modal__input-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
    transform: translateY(-50%);
}

.modal__input-wrapper{
    @include align-item();
    position: relative;
}


.modal__text-input{
    @include fonts(12px, 14px, $fw:400, $ls:0.01em);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    width: 100%;
    height: 120px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus{
        border: 1px solid #2196F3;
        outline: none;
    }
}  

.modal__check-text{
    @include fonts(14px, 24px);
    @include align-item();
    color: #757575;
    cursor: pointer;
    justify-content: center;
    position: relative;
    span{
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 2px;
        margin-right: 8px;
        @include align-item();
        justify-content: center;
    }
}

.modal__check-text__condition-link{
    color: var(--accent-color);
    text-decoration: underline;
    display: block; 
}

.modal__check-icon{
    fill: #ffffff;
}


.modal__checkbox{
    &:checked + .modal__check-text span { 
        background-color: var(--accent-color);
        border: none;
    }
}

.modal__btn{
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}