body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.section__title{
    @include fonts(28px, 33px, 700);
    text-align: center;
    margin-bottom: 30px;
}
